body,div,span,img,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,textarea,select,option,fieldset,legend,p,th,td{margin:0; padding:0;}
fieldset,img {border: 0;}
a{text-decoration:none; color:#252525;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.clear{clear:both;}
ul,li{list-style:none;}
body{ font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color:#252525; font-size:14px; line-height:20px; -webkit-user-select:none;
    background-color: #fbf7ed;
}
.header{
    background-color: #4abdcc;
    box-shadow: 0 3px 2px #999;
    height: 40px;
    position: relative;
}
.header h1{
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
}
.header-btn{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 11px;
    display: block;
    background-size: 18px 18px;
}
.prev-page{
    background-image:url("../img/prev-arr.png");
    left: 4.7%;
}
.next-page{
    background-image:url("../img/next-arr.png");
    right: 4.7%;
}

#orderForm{
    padding: 20px 15px;
    background-color: #fbf7ed;
}
#orderForm h2{
    padding-bottom: 10px;
    border-bottom: 1px solid #c9c9c9;
    font-size: 20px;
    color: #4abdcc;
    line-height: 30px;
}
.order-icon{
    padding: 10px;
    background: url("../img/order.png") center no-repeat;
    background-size: 20px 20px;
    margin: 0 5px;
}
.order-text{
    margin: 10px 0 30px;
    line-height: 20px;
    font-size: 14px;
    color: #5c5c5c;
}

.order-tit{
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.order-tit h3{
    line-height: 46px;
    font-size: 16px;
    color: #5c5c5c;
    padding: 0 10px;
    height: 46px;
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
}
.order-tit .order-item{
    overflow: hidden;
    height: 46px;
    border-bottom: 1px solid #c9c9c9;
    line-height: 46px;
}
.order-tit .order-item:last-child{
    border-bottom:none;
}
.order-item label{
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 14px;
}
.order-item input{
    display: block;
    float: left;
    width: 66.6%;
    height: 46px;
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}
.order-item span{
    display: block;
    float: left;
    width: 66.6%;
    height: 46px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fff;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

.order-price{
    border: 1px solid #c9c9c9;
    border-radius: 4px;
    margin-top: 30px;
    background-color: #fff;
}
.order-price-top{
    border-bottom: 1px solid #c9c9c9;
    padding: 10px;
    overflow: hidden;
}
.order-price-item{
    overflow: hidden;
    line-height: 30px;
    height: 30px;
}
.order-price-item label{
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    color: #5c5c5c;
    font-size: 14px;
}
.order-price-item span{
    display: block;
    float: left;
    width: 66.6%;
    overflow: hidden;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}

.order-price-bottom{
    padding: 10px;
}

#changePriBtn{
    display: block;
    float: right;
    font-size: 12px;
    line-height: 20px;
    padding: 0 10px;
    border: 1px solid #4abdcc;
    color: #4abdcc;
    border-radius: 10px;
}

#orderForm .user-tit{
    border-bottom: none;
    margin-top: 30px;
}

.user-icon{
    padding: 10px;
    background: url("../img/user-head.png") center no-repeat;
    background-size: 20px 20px;
    margin: 0 5px;
}
.receive-info{
    margin: 10px 0 30px;
    border: 1px solid #c9c9c9;
    border-radius: 4px;
}
.receive-item{
    overflow: hidden;
    height: 46px;
    border-bottom: 1px solid #c9c9c9;
    line-height: 46px;
}
.receive-item:last-child{
    border-bottom: none;
}

.receive-item label{
    display: block;
    float: left;
    width: 33.3%;
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 14px;
}
.person-icon{
    padding: 15px;
    background: url("../img/head.png") center no-repeat;
    background-size: 20px;
    margin-right: 5px;
}
.phone-icon{
    padding: 15px;
    background: url("../img/phone.png") center no-repeat;
    background-size: 15px;
    margin-right: 5px;
}
.earth-icon{
    padding: 15px;
    background: url("../img/earth.png") center no-repeat;
    background-size: 20px;
    margin-right: 5px;
}
.location-icon{
    padding: 15px;
    background: url("../img/point.png") center no-repeat;
    background-size: 15px;
    margin-right: 5px;
}
.receive-item input{
    display: block;
    float: left;
    width: 66.6%;
    height: 46px;
    border: none;
    box-sizing: border-box;
    padding: 0 10px;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}
#areaSelect{
    float: left;
    width: 66.6%;
    height: 46px;
    border: none;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #999;
}
.prov{
    width: 50%;
    box-sizing: border-box;
    border:none;
    border-right: 1px solid #c9c9c9;
    float: left;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
}
.city{
    width: 50%;
    box-sizing: border-box;
    border:none;
    float: left;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
}

.tip{
    text-align: center;
    color: #fc5d7b;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

#submitBtn{
    display: block;
    margin: 20px auto;
    width: 200px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background-color: #4abdcc;
    border-radius: 23px;
    border: 1px solid #2e9dab;
}